<style type="text/css">
  #content, .inputPage{
    height: 545px !important;
  }

  #content{
    position: relative;
    margin-left: 2px;
    width: 99.7%;
    top: 383px;
  }
  .buttonsDiv{
    position: fixed;
    top: auto;
    bottom: -20px;
    margin-bottom: 2%;
    z-index: 1000;
  }

  #minute{
    display: none;
  }

  #hour{
    height: 200px !important;
  }

  #ptTimeSelectCntr{
    width: 38em;
  }

  #ptTimeSelectCntr{
    /*display: block !important;*/
    width: 60%;
    left: 20%;
  }

  #ptTimeSelectCntr .ptTimeSelectHrCntr a, #ptTimeSelectCntr .ptTimeSelectMinCntr a {
    display: block;
    float: left;
    margin: 1px;
    padding: 0.6em;
    text-align: center;
    text-decoration: none;
    width: 1.9em;
  }

  .ptTimeSelectHr ui-state-default{

  }

  .custom-inputs{
    z-index: 999;
    position: absolute;
    width: 20%;
    top: 20px;
    left: 35%;
  }

  .blank-td{
    width: 10%;
  }

  .hour-header, .minutes-header{
    text-align: center;
    font-weight: bold;
    left: 20px;
    padding-left: 25px;
  }

  .hourInput, .minutesInput{
    text-align: center;
  }

  .NoKeyboard .inputFrameClass {
    height: 460px !important;
  }

  #Unknown{
    display: none;
  }
</style>

<form action="/encounters/create" method="POST" target="_top">
  <%= hidden_field_tag "encounter[encounter_type_name]", "CIRCUMCISION" %>
  <%= hidden_field_tag "encounter[patient_id]", @patient.patient_id %>
  <%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
  <%= hidden_field_tag "encounter[provider_id]", User.current.person_id%>

  <%= (touch_text_field_tag "CIRCUMCISION DATE", @patient, nil,
    {
      :id => "circumcision-date",
      :maxDate => "#{@max_date}",
      :absoluteMin => (Date.today),
      :helptext => "Circumcision Date <span class='helper'> Circumcision</span>",
      :field_type => "date"
    }).html_safe %>

  <%= (touch_text_field_tag "ANAESTHESIA TIME", @patient, nil,
    {
      :id => "anaesthesia-time",
      :field_type => "number",
      :allowFreeText => 'true',
      :tt_onLoad => "changeDecimalToColon();",
      :validationRule => "(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$",
      :validationMessage => "Bad time format (Use this format: 14<b>:30</b>)",
      :tt_pageStyleClass => "Numeric NumbersOnlyWithDecimal",
      :helpText => "Time anaesthesia given (24 Hour clock) <span class='helper'> Circumcision</span>" }).html_safe%>


  <%= (touch_select_tag "TYPE OF ANAESTHESIA", @patient, options_for_select(@anaesthesia_types),
    {
      :helpText  => "Type of anaesthesia <span class='helper'> Circumcision</span>"
    }).html_safe %>

  <%= (touch_select_tag "ANAESTHESIA", @patient, options_for_select(@anaesthesia),
    {
      :id => "anaesthesia",
      :helpText  => "Anaesthesia <span class='helper'> Circumcision</span>"
    }).html_safe %>

  <%= (touch_select_tag "ANAESTHESIA MEASUREMENT", @patient, options_for_select(@anaesthesia_measurement),
    {
      :id => "anaesthesia_measurement",
      :helpText  => "Anaesthesia dosage measurement <span class='helper'> Circumcision</span>"
    }).html_safe %>

  <%= (touch_text_field_tag "ANAESTHESIA QUANTITY", @patient, nil,
    {
      :id => "anaesthesia-quantity",
      :field_type => 'number',
      :helpText => "Anaesthesia quantity given <span class='helper'> Circumcision</span>",
      :tt_pageStyleClass => "Numeric NumbersOnlyWithDecimal"
    }).html_safe %>

  <%= (touch_select_tag "PROCEDURE TYPE", @patient, options_for_select(@circumcision_procedure_types),
    {
      :id => "procedure-type",
      :tt_onUnLoad => "checkAge();",
      :helpText  => "Procedure Type <span class='helper'> Circumcision</span>"
    }).html_safe %>

  <%= (touch_text_field_tag "OTHER (SPECIFY)", @patient, nil,
    {
      :id => 'other_procedure_type',
      :field_type => 'alpha',
      :helpText => "Specify Other Procedure Type <span class='helper'> Circumcision</span>",
      :condition => "$('procedure-type').value == 'Other'",
      :allowFreeText => true
    }).html_safe %>

  <%= (touch_text_field_tag "INCISION TIME", @patient, nil,
    {
      :id => "incision_time",
      :field_type => "number",
      :allowFreeText => 'true',
      :tt_onLoad => "changeDecimalToColon();",
      :validationRule => "(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$",
      :validationMessage => "Bad time format (Use this format: 14<b>:30</b>)",
      :tt_pageStyleClass => "Numeric NumbersOnlyWithDecimal",
      :helpText => "Incision time <span class='helper'> Circumcision</span>"
    }).html_safe %>

  <%= (touch_select_tag "INTRA-OP ADVERSE EVENTS?", @patient, options_for_select(["", "Yes", "No"]),
    {
      :id => "adverse_events?",
      :helpText  => "Any Intra-OP Adverse events <span class='helper'> Circumcision</span>"
    }).html_safe %>

  <%= (touch_text_field_tag "SPECIFIC ADVERSE EVENT", @patient, nil,
    {
      :id => "specific-adverse-event",
      :condition => "__$('adverse_events?').value.match(/YES/i)",
      :helpText => "Specify adverse event <span class='helper'> Circumcision</span>"
    }).html_safe %>

  <%= (touch_text_field_tag "SPECIFIC ADVERSE EVENT MANAGEMENT", @patient, nil,
    {
      :id => "specific-adverse-event-management",
      :condition => "__$('adverse_events?').value.match(/YES/i)",
      :optional => true,
      :helpText => "Specify adverse event management <span class='helper'> Circumcision</span>"
    }).html_safe %>

  <%= (touch_text_field_tag "TIME LEFT TABLE", @patient, nil,
    {
      :id => "time_left_table",
      :field_type => "number",
      :allowFreeText => 'true',
      :tt_onLoad => "changeDecimalToColon();",
      :validationRule => "(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$",
      :validationMessage => "Bad time format (Use this format: 14<b>:30</b>)",
      :tt_pageStyleClass => "Numeric NumbersOnlyWithDecimal",
      :helpText => "Time left table <span class='helper'> Circumcision</span>"
    }).html_safe %>

</form>

<script type="text/javascript">
  function changeDecimalToColon(){
    decimal = jQuery("#decimal")[0];
    decimal.innerHTML = '<span>:</span>';
    decimal.setAttribute("onmousedown", "press(':')")
  }

  function checkAge(age){
    var age = "<%= @bean.age %>"
    if (age <= 15 && __$('procedure-type').value == 'Forceps Guided'){
      showMessage('Note: Forceps guided is not recommended for clients under the age of 15',null,10000000000);
    }
  }

</script>