<style type="text/css">
  #content, .inputPage{
    height: 545px !important;
  }

  #content{
    position: relative;
    margin-left: 2px;
    width: 99.7%;
    top: 383px;
  }
  .buttonsDiv{
    position: fixed;
    top: auto;
    bottom: -20px;
    margin-bottom: 2%;
    z-index: 1000;
  }

  .NoKeyboard .inputFrameClass {
    height: 460px !important;
  }

  .inputFrameClass .options{
    height: 400px !important;
  }
</style>

<script type="text/javascript">

  function displayMessage(options){

    setTimeout(function(){

        if (options == 'diabetes')
        {
          showMessage('Note: Client has Diabetes and may not be suitable for circumcision',null,10000000000);
        }
        else if (options == 'bleeding')
        {
          showMessage('Note: Client has Bleeding disorder and may not be suitable for circumcision',null,10000000000);
        }
        else if (options == 'ulcers')
        {
          showMessage('Note: Client has Genital ulcers and may not be suitable for circumcision',null,10000000000);
        }
        else if (options == 'urination')
        {
          showMessage('Note: Client has Painful urination and may not be suitable for circumcision',null,10000000000);
        }

       
    },100);  
}

</script>

<form action="/encounters/create" method="POST" target="_top">
  <%= hidden_field_tag "encounter[encounter_type_name]", "MEDICAL HISTORY" %>
  <%= hidden_field_tag "encounter[patient_id]", @patient.patient_id %>
  <%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
  <%= hidden_field_tag "encounter[provider_id]", User.current.person_id%>

  <%= (touch_select_tag "ANY MEDICAL HISTORY?", @patient, options_for_select(['', 'Yes', 'No']),
    {
      :id => "medical_history",
      :tt_requireNextClick => false,
      :helpText  => "Any medical history?"
    }).html_safe %>
  
  <%= (touch_select_tag "DIABETES", @patient, options_for_select(@yes_no_options),
    {
      :id => "diabetes",
      :helpText  => "Diabetes?",
      :tt_requireNextClick => false,
      :tt_onUnLoad => "displayMessage('diabetes');",
      :condition => "__$('medical_history').value.match(/YES/i)"
    }).html_safe %>

  <%= (touch_select_tag "TYPE OF DIABETES", @patient, options_for_select(@diabetes_types),
    {
      :helpText  => "Type of diabetes",
      :condition => "__$('diabetes').value.match(/YES/i)"
    }).html_safe %>

  <%= (touch_select_tag "BLEEDING DISORDER", @patient, options_for_select(@yes_no_options),
    {
      :id => "bleeding",
      :helpText  => "Bleeding disorder?",
      :tt_requireNextClick => false,
      :tt_onUnLoad => "displayMessage('bleeding');",
      :condition => "__$('medical_history').value.match(/YES/i)"
    }).html_safe %>

  <%= (touch_text_field_tag "SPECIFY THE BLEEDING DISORDER", @patient, nil,
    {
      :helpText => "Specify the bleeding disorder",
      :condition => "__$('bleeding').value.match(/YES/i)",
      :field_type => 'alpha',
      :allowFreeText => true
    }).html_safe %>

  <%= (touch_select_tag "ANY MEDS", @patient, options_for_select(@yes_no_options),
    {
      :id => "meds",
      :helpText  => "Any meds?",
      :tt_requireNextClick => false,
      :condition => "__$('medical_history').value.match(/YES/i)"
    }).html_safe %>

  <%= (touch_text_field_tag "SPECIFY ANY MEDS", @patient, nil,
    {
      :helpText => "Specify any meds",
      :condition => "__$('meds').value.match(/YES/i)",
      :field_type => 'alpha',
      :allowFreeText => true
    }).html_safe %>

  <%= (touch_select_tag "ALLERGIES", @patient, options_for_select(@yes_no_options),
    {
      :id => "allergies",
      :helpText  => "Allergies?",
      :tt_requireNextClick => false,
      :condition => "__$('medical_history').value.match(/YES/i)"
    }).html_safe %>

  <%= (touch_text_field_tag "SPECIFY ALLERGIES", @patient, nil,
    {
      :helpText => "Specify allergies",
      :condition => "__$('allergies').value.match(/YES/i)",
      :field_type => 'alpha',
      :allowFreeText => true
    }).html_safe %>

  <%= (touch_select_tag "GENITAL ULCERS", @patient, options_for_select(@yes_no_options),
    {
      :id => "ulcers",
      :helpText  => "Genital ulcers?",
      :tt_requireNextClick => false,
      :tt_onUnLoad => "displayMessage('ulcers');",
      :condition => "__$('medical_history').value.match(/YES/i)"
    }).html_safe %>

  <%= (touch_text_field_tag "SPECIFY GENITAL ULCERS", @patient, nil,
    {
      :helpText => "Specify genital ulcers",
      :condition => "__$('ulcers').value.match(/YES/i)",
      :field_type => 'alpha',
      :allowFreeText => true
    }).html_safe %>

  <%= (touch_select_tag "GENITAL ITCHING", @patient, options_for_select(@yes_no_options),
    {
      :id => "itching",
      :helpText  => "Genital itching?",
      :tt_requireNextClick => false,
      :condition => "__$('medical_history').value.match(/YES/i)"
    }).html_safe %>

  <%= (touch_text_field_tag "SPECIFY GENITAL ITCHING", @patient, nil,
    {
      :helpText => "Specify genital itching",
      :condition => "__$('itching').value.match(/YES/i)",
      :field_type => 'alpha',
      :allowFreeText => true
    }).html_safe %>

  <%= (touch_select_tag "PAINFUL URINATION", @patient, options_for_select(@yes_no_options),
    {
      :id => "urination",
      :helpText  => "Painful urination?",
      :tt_requireNextClick => false,
      :tt_onUnLoad => "displayMessage('urination');",
      :condition => "__$('medical_history').value.match(/YES/i)"
    }).html_safe %>

  <%= (touch_text_field_tag "SPECIFY PAINFUL URINATION", @patient, nil,
    {
      :helpText => "Specify painful urination",
      :condition => "__$('urination').value.match(/YES/i)",
      :field_type => 'alpha',
      :allowFreeText => true
    }).html_safe %>

  <%= (touch_select_tag "OTHER MEDICAL CONDITION", @patient, options_for_select(@yes_no_options),
    {
      :id => "other_medical_history",
      :helpText  => "Any other Medical condition?",
      :tt_requireNextClick => false,
      :condition => "__$('medical_history').value.match(/YES/i)"
    }).html_safe %>

  <%= (touch_text_field_tag "SPECIFY OTHER MEDICAL CONDITION", @patient, nil,
    {
      :helpText => "Specify other medical condition",
      :condition => "__$('other_medical_history').value.match(/YES/i)",
      :field_type => 'alpha',
      :allowFreeText => true
    }).html_safe %>

</form>