
<link rel="stylesheet" type="text/css" href="/time-picker/jquery-ui.css"/>
<link rel="stylesheet" type="text/css" href="/time-picker/jquery.ptTimeSelect.css" />
<script type="text/javascript" src="/time-picker/jquery.ptTimeSelect.js"></script>

<style type="text/css">
  #content, .inputPage{
    height: 545px !important;
  }

  #content{
    position: relative;
    margin-left: 2px;
    width: 99.7%;
    top: 383px;
  }
  .buttonsDiv{
    position: fixed;
    top: auto;
    bottom: -20px;
    margin-bottom: 2%;
    z-index: 1000;
  }

  #minute{
    display: none;
  }

  #hour{
    height: 200px !important;
  }

  #ptTimeSelectCntr{
    width: 38em;
  }

  #ptTimeSelectCntr{
    display: block !important;
    width: 60%;
    left: 20%;
  }

  #ptTimeSelectCntr .ptTimeSelectHrCntr a, #ptTimeSelectCntr .ptTimeSelectMinCntr a {
    display: block;
    float: left;
    margin: 1px;
    padding: 0.6em;
    text-align: center;
    text-decoration: none;
    width: 1.9em;
  }

  .ptTimeSelectHr ui-state-default{

  }

  .custom-inputs{
    z-index: 999;
    position: absolute;
    width: 20%;
    top: 20px;
    left: 35%;
  }

  .blank-td{
    width: 10%;
  }

  .hour-header, .minutes-header{
    text-align: center;
    font-weight: bold;
    left: 20px;
    padding-left: 25px;
  }

  .hourInput, .minutesInput{
    text-align: center;
  }
</style>

<form action="/encounters/create" method="POST" target="_top">
  <%= hidden_field_tag "encounter[encounter_type_name]", "POST-OP REVIEW" %>
  <%= hidden_field_tag "encounter[patient_id]", @patient.patient_id %>
  <%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
  <%= hidden_field_tag "encounter[provider_id]", "" %>

  <%= (text_field_tag "REVIEW TIME", "nil",
    {
      :disabled => true,
      :optional => true,
      :class => "time-picker",
      :tt_onLoad => "loadDatePicker();",
      :tt_onUnLoad => "unloadDatePicker();",
      :helpText => "Time"
    }).html_safe %>

  <%= (touch_text_field_tag "PULSE", @patient, nil,
    {
      :id => "pulse",
      :helptext => 'Pulse Rate (Beats per Minute)',
      :field_type => 'number',
      :min => 50,
      :max => 120,
      :units => 'bpm',
      :validationRule => "([0-9]+)|Unknown$",
      :validationMessage => "You must enter a number between 0 and 9 (for example: 54)",
      :tt_pageStyleClass => "Numeric NumbersWithUnknownAndDecimal" }).html_safe %>

  <%= (touch_text_field_tag "SYSTOLIC BLOOD PRESSURE", @patient, nil,
    {
      :id => "systolic_blood_pressure",
      :helptext => "Systolic Blood Pressure",
      :field_type => "number",
      :absoluteMin => 50,
      :absoluteMax => 240,
      :tt_pageStyleClass => "NumbersWithUnknown",
      :absoluteMin => 0,
      :max => 250 }).html_safe %>

  <%= (touch_text_field_tag "DIASTOLIC BLOOD PRESSURE", @patient, nil,
    {
      :id => "diastolic_blood_pressure",
      :helptext => "Diastolic Blood Pressure",
      :field_type => "number",
      :tt_pageStyleClass => "NumbersWithUnknown",
      :absoluteMin => 35,
      :absoluteMax  => 140 }).html_safe %>

  <%= (touch_select_tag "PAIN", @patient, options_for_select(@pain_options),
    {
      :id => "type_of_pain",
      :helpText  => "Type of pain"
    }).html_safe %>

  <%= (touch_select_tag "BANDAGE", @patient, options_for_select(@bandage_options),
    {
      :id => "bandage",
      :helpText  => "Bandage (Bleeding)"
    }).html_safe %>



  <%= (touch_select_tag "MEDS GIVEN?", @patient, options_for_select(["", "Yes", "No"]),
    {
      :id => "meds-given?",
      :helpText  => "Medication given?"
    }).html_safe %>

  <%= (touch_text_field_tag "MEDICATION", @patient, nil,
    {
      :id => "medication",
      :condition => "__$('meds-given?').value.match(/YES/i)",
      :helpText => "Specify medication"
    }).html_safe %>


  <%= (touch_select_tag "READY FOR DISCHARGE?", @patient, options_for_select(["", "Yes", "No"]),
    {
      :id => "ready-for-discharge",
      :helpText  => "Ready for discharge"
    }).html_safe %>

  <%= (touch_text_field_tag "APPOINTMENT DATE", @patient, nil,
    {
      :id => "appointment-date",
      :helptext => "Appointment date",
      :field_type => "date"
    }).html_safe %>

  <%= (touch_hidden_tag "REVIEW TIME", @patient, "", :id => "review_time").html_safe %>

</form>


<script type="text/javascript">
<%
this_hour = Time.now.hour
if this_hour < 10
  this_hour = "0" + this_hour.to_s
end
%>
  function loadDatePicker(){
    jQuery("#keyboard").hide();
    jQuery('#touchscreenInput'+tstCurrentPage).ptTimeSelect();
    jQuery('#page'+tstCurrentPage).hide()
    loadCustomInput();
    loadPreviousValues();
  }

  function unloadDatePicker(){
    jQuery('#page'+tstCurrentPage).show();
    jQuery(".custom-inputs").hide();
    jQuery(".ui-widget-content").hide();
    hour = jQuery('.hourInput').val();
    minutes = jQuery('.minutesInput').val();
    review_time = hour + ":" + minutes;
    //jQuery('#review_time').val(review_time);
    jQuery('#review_time')[0].value = review_time;
  }

  function loadPreviousValues(){
    reviewTime = jQuery('#review_time').val().split(":")
    hour = reviewTime[0];
    minutes = reviewTime[1];

    if (hour.length > 0){
      jQuery('.hourInput').val(hour);
      jQuery('.minutesInput').val(minutes);
    }
    
  }

  function loadCustomInput(){
    jQuery(".custom-inputs").remove();
    html = "<table class='custom-inputs'>";
    html += "<tr><td colspan='3'><center><span class='helpTextClass'>Review time</span></center></td></tr>"
    html += "<tr><td><span class='hour-header'>Hour</span></td><td>&nbsp;</td><td><span class='minutes-header'>Minutes</span></td></tr>"
    html += "<tr>";
    html += "<td><div class='inputFrameClass' style='padding: 0px;'><input type= 'text' class='touchscreenTextInput hourInput' value='<%= this_hour %>'></input></div></td>"
    html+= "<td class='blank-td'>&nbsp;</td>"
    html += "<td><div class='inputFrameClass' style='padding: 0px;'><input type= 'text' class='touchscreenTextInput minutesInput' value='00'></input></div></td></tr>"
    html += "</table>";
    jQuery( "body" ).append(html);
    jQuery(".ui-widget-content").show();
  }

</script>